<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List | detail</title>
  <link href="/main.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="header">
    </div>
      <div class="contents">
        <div class="title-container">
          <h2 class="logo">Todos</h2>
          <a class="nav-content" href="/list">Lists</a>
      </div>
        <div class="detail-bg">
          <h4><%= result.title %></h4>
          <p>
            <%= result.content %>
          </p>
        </div>
      </div>
      <div class="footer">
        <p class="footer-contents">
            Developer : 김우건 (Kim U Geon)</br>
            E-mail : ugeon322@naver.com
        </p>
    </div>
    </div>
</body>

</html>